body{
    font-family: hind-siliguri, sans-serif;
}


#top-header{
		
	text-align: center;
	height: -10px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: 10px;
	margin: none;
	height: none;
	width: 25%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}
#logo:hover{
    cursor:pointer;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 60%;
	height: none;
	margin: none;
    font-size: 20px;
    margin-right: 20px;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
    color:black;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 5px;
    color:black;
}
#menu li button{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
}
#menu :hover{
    cursor: pointer;
}
/* part 1 */
.part1 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.part1 p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}
.part1 img{
    width:1200px;
    margin-left: 150px;
}
.one-p1 a{
    background-color: black;
    color:white;
    padding:15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 550px;

}
.two-p1 a{
    background-color:#01FF66;
    color:black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}
.main-p1{
    display: flex;
    margin-top: 30px;
}
/* part 2 */
.part2{
    background-color: #F9F9F9;
    
}
.flex-cont{
    display: flex;
    margin-left: 110px;
}
.part2 h2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.part2 h3{
    font-size: 20px;
    font-weight:500;
    text-align: center;
    line-height: 24px;
}
.part2 p{
    font-size: 16px;
    font-weight:400;
    text-align: center;
    line-height: 24px;
}
.flex-1{
    padding: 10px 15px;
}
.flex-1 img{
    width:400px;
    height: 400px;
}


/* footer */
.foot1{
    background-color: black;
    padding: 50px;
    margin: 0px;
    margin-left:-20px;
    margin-right: -8px;
    margin-bottom: -10px;
}
.flex-container.f1{
    background-color: #1D1D1D;
    display: flex;
    padding: 40px 50px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 4%;
}
.one{
    max-width:60%;
    flex-grow: 1;
    padding: 20px 10px ;
}
.two{
    flex-grow: 2;
    padding-left: 20px;
}
.two h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.two p{
    font-size: 16px;
    font-weight:400;
    color: white;
    margin-left:0px;
    line-height:24px;
}
.two a{
    background-color:#01FF66;
    color:black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.flex-container.f2{
    display:flex;
    margin:4%;
    
}
.foot_1{
    text-align: left;
    /* flex-grow:1; */
    flex-shrink: 1;
    max-width: 500px;
}
.foot_1 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_1 p{
    color:white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0px;
}
.foot_2{
    /* flex-grow: 1; */
    flex-shrink: 1;
    margin-left: 50px;
    min-width: 150px;
}
.foot_2 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_2 a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    
}
.f3{
    text-align: center;
}
.f3 p{
    color:#7C7C7C;
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
    font-family: hind-siliguri, sans-serif;
}
.f3 a{
    margin-right: 30px;
    text-decoration: none;
    color:white;
    line-height: 5px;
}
.foot1 hr{
    width:1300px;
}
