body{
    font-family: hind-siliguri, sans-serif;
}


#top-header{
		
	text-align: center;
	height: -10px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: 10px;
	margin: none;
	height: none;
	width: 25%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}
#logo:hover{
    cursor:pointer;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 60%;
	height: none;
	margin: none;
    font-size: 20px;
    margin-right: 20px;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
    color:black;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 5px;
    color:black;
}
#menu li button{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
}
#menu :hover{
    cursor: pointer;
}

/* ===============================Navigation Menu End====================== */

.first{
    font-family: hind-siliguri, sans-serif;
    
}
.first button{
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 60px;
    border-radius: 10px;
    margin-left:33%;
    margin-top: 10px;
    
}
.first button:hover{
    cursor: pointer;
}
.first a{
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-decoration: none;
    padding: 10px 20px;
}
.first img{
    max-width: 60%;
    max-height: 100% ;
    margin-left: 19%;
}
.first p{
    font-size: 20px;
    font-weight: 400;
    line-height:24px;
    vertical-align:baseline;
    text-align: center;
    margin-top: 5px;
}
.hero img{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 40%;
    max-height: 40%;
    margin-top: 50px;
    
}
/* New section PART 2 */
.part2{
    background-color: #F9F9F9;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: -8px;
}
.elements{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 80px;
}
.elements img{
    display: inline-block;
    width: 220px;
    height: 200px;
    padding:10px;
    border-radius: 20px;
    
}
.elements img:hover{
    cursor: pointer;
}
.part2-layout{
    margin-left: 130px;
    
}
.part2 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    font:aileron;
    font-family: aileron, sans-serif;
    line-height: 50px;
    margin-top: 100px;
}
.part2 p{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
/* ----------------------------------New section PART 3---------------------------------------*/
.part3{
    background-color: white;
}
.part3 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    font-family: aileron, sans-serif;
    margin-top: 90px;
}
.part3 p{
    font-size: 20px;
    font-family: hind-siliguri, sans-serif;
    font-weight: 400;
    text-align: center;
}

.flex-container{ 
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    
}
.flex-child{
     
    flex: 1;
    border: none;
    
}
.flex-child:first-child {
    margin-right: 20px;
} 
.flex-child img{
   width: 70%;
   vertical-align: baseline;
   margin-left: 20px;
}
.flex-container p{
    font-size: 24px;
    font-weight: 700;
    text-align: start;
    font-family: hind-siliguri, sans-serif;
    margin-left: 10%;
}
.flex-container li{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    font-family: hind-siliguri, sans-serif;
    margin-left:14%;
}
.flex-container h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-left: 10%;
    font-family: hind-siliguri, sans-serif;
}
/* ------------------------------------New Section PART 4 ---------------------------*/
.part4{
    background-color: #F9F9F9;
    margin-right: -8px;
}
.part4 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}
.part4 p{
    font-size:20px;
    line-height: 24px;
    font-weight:400;
    text-align:center;

}

.arrange{
    display: flex;
}
.arrange1{
    display: flex;
    max-width: 900px;
    margin-left: 250px;
}
.p4-elements{
    flex-grow: 1;
    flex-shrink: 1;
    display:inline-block;
    margin-right: 30px;
    border-radius: 2px;
    border-color: black;
    background-color: white;
    padding:20px;
    border-radius: 10px;
    align-items: baseline;
    vertical-align: middle;
    
}

.p4-elements h3{
    font-size:24px;
    font-family: aileron, sans-serif;
    font-weight: 800;
    vertical-align: baseline;
    margin-top: 10px;
}
.p4-elements p{
    font-size:16px;
    font-family: hind-siliguri, sans-serif;
    line-height: 24px;
    font-weight: 400;
    vertical-align: baseline;
    text-align: left;
    
}
.p4-subelements{
    display:inline-block;
    margin-bottom: 20px;
}
.p4-subelements a{
    background-color: black;
    color:white;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.p4-subelements img{
    width:60px;
    margin-left: 130px;
    
    
}
.arrange{
    margin-left: 100px;
    margin-right: 80px;
}
/* --------------------------------------------Part 5---------------------------------- */
.part5{
    background-color: white;
}
.part5 h2{
    font-size: 40px;
    font-weight:800 ;
    text-align: center;
}
.part5 p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}
.p5-cont{
    display:flex;
}
.p5-internal1{
    flex-grow: 1;
    padding-left: 330px;
    margin-right: -60px;
}
.p5-internal1 li{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.p5-internal2{
    flex-grow: 1;
    padding-left: -10px;
    margin-left: -30px;
}
.p5-internal2 li{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.p5{
    display:flex;
}
.p5-sub1 img{
    width:70px;
}
.p5-sub2 h2{
    font-size: 20px;
    font-weight: 800;
    padding-left: 10px;
}
.p5-sub2 h3{
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
}
.p5-last1 img{
    width:800px;
    margin-left: 350px;
    margin-top: 150px;
}
.p5-last1 p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.p5-last2{
    max-width: 1100px;
    margin-left: 200px;
}
.p5-last2 p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.p5-last2 a{
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.viewsup{
    margin-left: 390px;
    margin-top: 70px;
}


/* --------------------------------------------Part 6---------------------------------- */
.part6{
    background-color: #F9F9F9;
    margin-right: -8px;
}
.part6 h2{
    font-size: 40px;
    font-family: aileron, sans-serif;
    font-weight: 800;
    text-align: center;
}
.part6 p{
    font-size:20px;
    font-weight:400;
    line-height: 24px;
    text-align: center;
}
.p6-adj{
    display:flex;
    margin-left: 300px;
}
.p6-1{
    margin-top: 150px;
    padding-right: 30px;
 
}
.p6-1 li{
    list-style: none;
    text-align: right;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
 
}
.p6-2{
    background-color: white;
    width:400px;
    height: 500px;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.p6-2 h2{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    line-height: 90px;
}
.lists{
    margin-top: -20px;
}
.p6-2 li{
    list-style: none;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
}
.bttn1{
    padding: 20px 120px;
    margin-top: 10px;
}
.p6-2 a{
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
}
.p6-3{
    background-color: #000000;
    width:400px;
    color:white;
    height:580px;
    border-radius: 20px;

}
.allgn{
    display: flex;
    margin-bottom: 10px;
}
.part_6_one{
    margin-top:70px ;
    padding-left:80px;

}
.part_6_one h2{
    font-size: 24px;
}
.part_6_two{
    margin-top: 90px;
    padding-left: 10px;

}
.part_6_two img{
    width:60px;
}
.p6-3 li{
    list-style: none;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
}
.bttn2{
    padding: 20px 100px;
    margin-top: 10px;
}
.p6-3 a{
    text-decoration: none;
    background-color:#01FF66;
    color:black;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.p6-4{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.p6-4 a{
    text-decoration: none;
    color:#000000;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* --------------------------------------------PART 7---------------------------------- */
.part7{
    background-color: white;
}
.part7 h2{
    font-size: 40px;
    font-family: aileron, sans-serif;
    font-weight: 800;
    text-align: center;
}
.part7 p{
    font-size:20px;
    font-weight:400;
    line-height: 24px;
    text-align: center;
}
.part7-elements{
    display:inline-block;
    padding: 50px;
}
.part7-arrange{
    
    margin-left: 50px;
}
.part7-elements p{
    font-size: 16px;
    font-weight:400 ;
    text-align: center;
    line-height: 16px;
}
.part7-elements img{
    padding-left: 20px;
    padding-right: 20px;
}
.part7-elements h4{
    font-size: 20px;
    font-weight: 800;
    line-height:16px;
    text-align: center;
}
/* -------------------------------------------- PART 8 ------------------------------------------------ */
.part8{
    background-color: #F9F9F9;
    margin-bottom: 100px;
    margin-right: -8px;
}
.part8 h2{
    font-size:40px;
    font-weight:800 ;
    text-align: center;
    margin-top: 50px;
}
.part8 p{
    font-size:20px;
    font-weight:400 ;
    text-align: center;
    line-height: 24px;

}
.flex-container.p8{
    display:flex;
    max-height: 300px;
}
.part8-elements1 img{
    width: 400px;
    padding: 30px;
    margin-left: 300px;
   
}
.part8-elements2{
    width:500px;
    margin-top: 60px;
}
.part8-elements2 p{
    font-size:16px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
}
/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------PART 9--------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.part9{
    background-color: white;
}
.part9 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.part9 p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}
.p9{
    display: inline-block;
    padding: 30px;
    margin-left: 130px;
}
.image-arrange{
    display:inline-block;
    margin-top: 35px;
}
.image-arrange img{
    width:300px;
}
.arr-f{
    padding-left: 450px;
    margin-top: 35px;
}
.arr-f img{
    width: 300px;
}



/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------footer --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.foot1{
    background-color: black;
    padding: 50px;
    margin: 0px;
    margin-left:-20px;
    margin-right: -8px;
    margin-bottom: -10px;
}
.flex-container.f1{
    background-color: #1D1D1D;
    display: flex;
    padding: 40px 50px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 4%;
}
.one{
    max-width:60%;
    flex-grow: 1;
    padding: 20px 10px ;
}
.two{
    flex-grow: 2;
    padding-left: 20px;
}
.two h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.two p{
    font-size: 16px;
    font-weight:400;
    color: white;
    margin-left:0px;
    line-height:24px;
}
.two a{
    background-color:#01FF66;
    color:black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.flex-container.f2{
    display:flex;
    margin:4%;
    
}
.foot_1{
    text-align: left;
    /* flex-grow:1; */
    flex-shrink: 1;
    max-width: 500px;
}
.foot_1 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_1 p{
    color:white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0px;
}
.foot_2{
    /* flex-grow: 1; */
    flex-shrink: 1;
    margin-left: 50px;
    min-width: 150px;
}
.foot_2 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_2 a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    
}
.f3{
    text-align: center;
}
.f3 p{
    color:#7C7C7C;
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
    font-family: hind-siliguri, sans-serif;
}
.f3 a{
    margin-right: 30px;
    text-decoration: none;
    color:white;
    line-height: 5px;
}
.foot1 hr{
    width:1300px;
}
