body{
    font-family: hind-siliguri, sans-serif;
}
#top-header{
		
	text-align: center;
	height: -10px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: 10px;
	margin: none;
	height: none;
	width: 25%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}
#logo:hover{
    cursor:pointer;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 60%;
	height: none;
	margin: none;
    font-size: 20px;
    margin-right: 20px;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
    color:black;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 5px;
    color:black;
}
#menu li button{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
}
#menu :hover{
    cursor: pointer;
}
/* footer */
.foot1{
    background-color: black;
    padding: 50px;
    margin: 0px;
    margin-left:-20px;
    margin-right: -8px;
    margin-bottom: -10px;
}
.flex-container.f1{
    background-color: #1D1D1D;
    display: flex;
    padding: 40px 50px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 4%;
}
.one{
    max-width:60%;
    flex-grow: 1;
    padding: 20px 10px ;
}
.two{
    flex-grow: 2;
    padding-left: 20px;
}
.two h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.two p{
    font-size: 16px;
    font-weight:400;
    color: white;
    margin-left:0px;
    line-height:24px;
}
.two a{
    background-color:#01FF66;
    color:black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.flex-container.f2{
    display:flex;
    margin:4%;
    
}
.foot_1{
    text-align: left;
    /* flex-grow:1; */
    flex-shrink: 1;
    max-width: 500px;
}
.foot_1 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_1 p{
    color:white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0px;
}
.foot_2{
    /* flex-grow: 1; */
    flex-shrink: 1;
    margin-left: 50px;
    min-width: 150px;
}
.foot_2 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_2 a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    
}
.f3{
    text-align: center;
}
.f3 p{
    color:#7C7C7C;
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
    font-family: hind-siliguri, sans-serif;
}
.f3 a{
    margin-right: 30px;
    text-decoration: none;
    color:white;
    line-height: 5px;
}
.foot1 hr{
    width:1300px;
}
/* -------------------------------part1------------------------ */
.part1{
    background-color: white;
    color:black;
}
.part1 h2{
    font-size: 40px;
    font-weight:800 ;
    text-align: center;
    margin-top: 110px;
    font-family: aileron, sans-serif;
}
.part1 p{
    font-size: 20px;
    line-height: 24px;
    font-weight:400 ;
    text-align: center;
    font-family: aileron, sans-serif;
}
.adj{
    display: flex;
    margin-top: 70px;
}
.adj input{
    width: 800px;
    height: 50px;
    border: #000000 solid 2px;
    border-radius: 10px;
    margin-left: 250px;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 20px;
}
.second{
    margin-top: 14px;
}
.adj a{
    background-color: #000000;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    border-radius: 10px;
}
.max{
    display: flex;
    margin-top: 70px;
    margin-left: 80px;
}
.images{
    flex-grow: 1;
}
.images img{
    width:250px;
}
.mega{
    display:flex;
}
.img-p1{
    margin-left: 600px;
    margin-top: 20px;
}
.img-p1 img{
    width:20px;
}
.email{
    margin-top: 20px;
}
.email a{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
    font-family: hind-siliguri, sans-serif;
    
}
/* part 2 */
.part2{
    background-color: black;
    color:white;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    width:1400px;
    margin-left: 40px;
}
.part2 h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
}
.part2 p{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.part2 a{
    background-color:#333333 ;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 650px;
    font-family: hind-siliguri, sans-serif;
}