body{
    font-family: hind-siliguri, sans-serif;
}
#top-header{
		
	text-align: center;
	height: -10px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: 10px;
	margin: none;
	height: none;
	width: 25%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}
#logo:hover{
    cursor:pointer;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 60%;
	height: none;
	margin: none;
    font-size: 20px;
    margin-right: 20px;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
    color:black;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 5px;
    color:black;
    font-size: 20px;
}
#menu li button{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
}
#menu :hover{
    cursor: pointer;
}
.part1{
    background-color: black;
    color:white;
    margin-top: 60px;
    margin-left: -10px;
    margin-right: -8px;
}
.part1 img{
    padding-left: 600px;
    width:300px;
    padding-top: 100px;

}
.part1 h3{
    font-size:24px ;
    font-weight:800 ;
    text-align: center;
    margin-bottom: 40px;
}
.part1 p{
    font-size:18px ;
    font-weight:400 ;
    line-height:32px;
    text-align: center;
}
.part1 a{
    text-decoration: none;
    background-color:#01FF66;
    color:black;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 650px;
}
/* ---------------------------------------PART 2------------------------------------------- */
.part2{
    background-color: white;

}
.part2 h2{
    font-size: 40px;
    font-weight:800 ;
    text-align: center;
}
.part2 p{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
}
.flex-cont{
    display:flex
}
.sub1{
    margin-left: 160px;
}
.sub2{
    text-align: start;
    margin-left: 60px;
    margin-top: 20px;
    width:600px;
}
.sub1 img{
    width:530px;
}
.sub2 li{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family:hind-siliguri, sans-serif;
    margin-left: 20px;
    text-align: start;
}
.sub2 img{
    width:400px;
    margin-bottom: 20px;
}
/* ====================================== PART 3================================================== */
.part6{
    background-color: #F9F9F9;
    margin-right: -8px;
}
.part6 h2{
    font-size: 40px;
    font-family: aileron, sans-serif;
    font-weight: 800;
    text-align: center;
}
.part6 p{
    font-size:20px;
    font-weight:400;
    line-height: 24px;
    text-align: center;
}
.p6-adj{
    display:flex;
    margin-left: 200px;
}
.p6-1{
    margin-top: 150px;
    padding-right: 30px;
 
}
.p6-1 li{
    list-style: none;
    text-align: right;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
 
}
.p6-2{
    background-color: white;
    width:420px;
    height: 750px;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.p6-2 h2{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    line-height: 90px;
}
.lists{
    margin-top: -20px;
}
.p6-2 li{
    list-style: none;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
}
.bttn1{
    padding: 20px 120px;
    margin-top: 10px;
}
.p6-2 a{
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
}
.p6-3{
    background-color: #000000;
    width:420px;
    color:white;
    height:820px;
    border-radius: 20px;

}
.allgn{
    display: flex;
    margin-bottom: 10px;
}
.part_6_one{
    margin-top:70px ;
    padding-left:80px;

}
.part_6_one h2{
    font-size: 24px;
}
.part_6_two{
    margin-top: 90px;
    padding-left: 10px;

}
.part_6_two img{
    width:60px;
}
.p6-3 li{
    list-style: none;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
}
.bttn2{
    padding: 20px 100px;
    margin-top: 10px;
}
.p6-3 a{
    text-decoration: none;
    background-color:#01FF66;
    color:black;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: hind-siliguri,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
/* FOOTER */
.foot1{
    background-color: black;
    padding: 50px;
    margin: 0px;
    margin-left:-20px;
    margin-right: -8px;
    margin-bottom: -10px;
}
.flex-container.f1{
    background-color: #1D1D1D;
    display: flex;
    padding: 40px 50px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 4%;
}
.one{
    max-width:60%;
    flex-grow: 1;
    padding: 20px 10px ;
}
.two{
    flex-grow: 2;
    padding-left: 20px;
}
.two h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.two p{
    font-size: 16px;
    font-weight:400;
    color: white;
    margin-left:0px;
    line-height:24px;
}
.two a{
    background-color:#01FF66;
    color:black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.flex-container.f2{
    display:flex;
    margin:4%;
    
}
.foot_1{
    text-align: left;
    /* flex-grow:1; */
    flex-shrink: 1;
    max-width: 500px;
}
.foot_1 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_1 p{
    color:white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0px;
}
.foot_2{
    /* flex-grow: 1; */
    flex-shrink: 1;
    margin-left: 50px;
    min-width: 150px;
}
.foot_2 h4{
    color:#808080;
    font-size:20px;
    font-weight: 700;
}
.foot_2 a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    
}
.f3{
    text-align: center;
}
.f3 p{
    color:#7C7C7C;
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
    font-family: hind-siliguri, sans-serif;
}
.f3 a{
    margin-right: 30px;
    text-decoration: none;
    color:white;
    line-height: 5px;
}
.foot1 hr{
    width:1300px;
}


