#top-header{
		
	text-align: center;
}
#logo{
	float: left;
	padding: 0px;
	margin: none;
	height: none;
	width: 25%;
}

#logo img{
	width: 130%;
	float: left;
	padding: 15px 20px;
}
#logo:hover{
    cursor:pointer;
}
#menu{
	float: right;
	width: 60%;
	height: none;
	margin: none;
    font-size: 20px;
    margin-right: 20px;
	font-weight: 400;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
    color:black;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 5px;
    color:black;
	font-family: hind-siliguri, sans-serif;
	font-size: 20px;
	font-weight: 500;
}
#menu li button{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
}
#menu :hover{
    cursor: pointer;
}
.flex-container{
	display: flex;
}
.child1{
	margin-left: -10px;
	margin-top:-10px;
	margin-bottom:-20px; 
	width: 50%;
}
.child1 img{
	width:100%;
	height:100%;
}  
.child2{
	background-color: white;
	width: 50%;
}
.details{
	margin-left: 0px;
	margin-top: 200px;
}
.details h3{
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	font-family: aileron, sans-serif;
}
.details p
{
	text-align: center;
	font-family: hind-siliguri, sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.details input{
	margin-left: 250px;
	text-align: center;
	width:250px;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 400;
}
.anc-1{
	margin-left: 295px;
	margin-top: 40px;
}
.anc-1 a{
	background-color: black;
	color: white;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding:15px 50px;
	border-radius: 10px;
	text-decoration: none;
	font-family: Arial;
}
.anc-2{
	background-color: black;
	width:300px;
	display: flex;
	margin-top: 60px;
	margin-left: 220px;
	border-radius: 40px;
}
.sub1{
	flex-grow: 1;
	margin-right: -180px;
	padding: 15px 20px;
}
.sub1 img{
	width:15%;
	border-radius: 100%;
}
.sub2{

	flex-grow: 2;
	padding: 20px 20px;
	text-align: center;
}
.sub2 a{
	text-decoration: none;
	color: white;
	font-size:18px;
	font-family:600;
	font-family: Arial;
}